*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

ul,ol,dl{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
    line-height: 0.8;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.common_Btn{
    padding: 12px 32px;
    border: none;
    border-radius: 6px;
    background: #36B864;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition: all linear 0.3s;
}

.common_Btn:hover{
    background: #FFFFFF;
    color: #36B864;
}
/* font-family: "Lato", sans-serif; */
/* font-family: "Poppins", sans-serif; */
/* font-family: "Outfit", sans-serif; */
/* ====== Navbar Section Style Start ====== */
#navbar{
    padding: 24px 0;
}

.nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul{
    display: flex;
    align-items: center;
    column-gap: 29px;
}

.menu ul li a{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    transition: all linear 0.3s;
}

.menu ul li a:hover{
    font-weight: 500;
    color: #36B864;
}
/* ====== Navbar Section Style End ====== */

/* ====== Banner Section Style Start ====== */
#banner{
    padding: 104px 0;
    height: 80vh;
    background: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_content span{
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #111D15;
}

.banner_content h1{
    width: 610px;
    font-weight: 700;
    font-size: 52px;
    line-height: 115%;
    color: #111D15;
    margin-top: 12px;
}

.banner_content p{
    width: 543px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #666666;
    margin-top: 24px;
    margin-bottom: 40px;
}

.banner_actions{
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 25px;
    transition: all linear 0.3s;
}

.banner_actions .common_Btn:nth-child(2) {
    border: 1px solid #666666;
    background: transparent;
    color: #111D15;
}

.banner_actions .common_Btn:hover{
    border: 1px solid #666666;
    background: transparent;
    color: #36B864;
}
/* ====== Banner Section Style End ====== */

/* ====== Service Section Style Start ====== */
#service{
    padding: 150px 0 75px 0;
}

.service_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service_title h2{
    width: 536px;
    font-weight: 600;
    font-size: 44px;
    line-height: 120%;
    color: #111D15;
}

.service_subtitle{
    width: 433px;
}

.service_subtitle{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.service_subtitle span{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #111D15;
}

.service_subtitle p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
}

.service_line{
    width: 100%;
    height: 1px;
    background: #83A790;
    margin: 40px 0;
}

.service_card_wrapper{
    display: flex;
    align-items: center;
    column-gap: 30px;
}
.service_card{
    width: 370px;
}

.service_card_image{
    width: 370px;
    height: 262px;
    border-radius: 30px;
}

.service_card_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service_card_content h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #111D15;
    margin-top: 16px;
}

.service_card_content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
    margin-top: 16px;
    margin-bottom: 24px;
}

.service_card .common_Btn{
    padding: 12px 20px;
    background: #FFFFFF;
    color: #111D15;
    border: 1px solid #666666;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    transition: all linear 0.3s;
}

.service_card .common_Btn i{
    color: #9D9D9D;
    transform: rotate(-45deg);
    transition: all linear 0.3s;
}

.service_card .common_Btn:hover{
    background: #36B864;
    color: #FFFFFF;
    border: none;
}

.service_card .common_Btn i:hover{
    color: #FFFFFF;   
}
/* ====== Service Section Style End ====== */

/* ====== Service Section Style Start ====== */
#solutions{
    padding: 75px 0;
}

.solutions_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.solutions_content{
    margin-top: 47px;
}

.solutions_content .subTitle{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #111D15;
}

.solutions_content h3{
    width: 527px;
    font-family: "Oregano", cursive;
    font-weight: 400;
    font-size: 44px;
    line-height: 120%;
    color: #111D15;
    margin-top: 24px;
}

.solutions_content h3 span{
    font-family: "Outfit", sans-serif;
    font-weight: 600;
}

.solutions_content p{
    width: 516px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #666666;
    margin-top: 32px;
    margin-bottom: 52px;
}
/* ====== Service Section Style End ====== */