*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

ul,ol,dl{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
    line-height: 0.8;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.common_Btn{
    padding: 12px 32px;
    border: none;
    border-radius: 6px;
    background: #36B864;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition: all linear 0.3s;
}

.common_Btn:hover{
    background: #FFFFFF;
    color: #36B864;
}
/* font-family: "Lato", sans-serif; */
/* font-family: "Poppins", sans-serif; */
/* font-family: "Outfit", sans-serif; */
/* ====== Navbar Section Style Start ====== */
#navbar{
    padding: 24px 0;
}

.nav_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul{
    display: flex;
    align-items: center;
    column-gap: 29px;
}

.menu ul li a{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    transition: all linear 0.3s;
}

.menu ul li a:hover{
    font-weight: 500;
    color: #36B864;
}
/* ====== Navbar Section Style End ====== */

/* ====== Banner Section Style Start ====== */
#banner{
    padding: 104px 0;
    height: 80vh;
    background: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_content span{
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #111D15;
}

.banner_content h1{
    width: 610px;
    font-weight: 700;
    font-size: 52px;
    line-height: 115%;
    color: #111D15;
    margin-top: 12px;
}

.banner_content p{
    width: 543px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #666666;
    margin-top: 24px;
    margin-bottom: 40px;
}

.banner_actions{
    font-weight: 600;
    display: flex;
    align-items: center;
    column-gap: 25px;
    transition: all linear 0.3s;
}

.banner_actions .common_Btn:nth-child(2) {
    border: 1px solid #666666;
    background: transparent;
    color: #111D15;
}

.banner_actions .common_Btn:hover{
    border: 1px solid #666666;
    background: transparent;
    color: #36B864;
}
/* ====== Banner Section Style End ====== */

/* ====== Service Section Style Start ====== */
/* ====== Service Section Style End ====== */